body
{
  background: url(https://www.dropbox.com/s/0tztin1b22bexkq/StatHatLogo.png?dl=0) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}